body {
    background: #101;
    color: #ddd;
}
a, a:visited {
    color: #66e;
}

table tr:nth-child(odd),
.initials a {
    background: #212;
}

table.plain tr:nth-child(odd) {
    background: none;
}

tr.current {
    background: #3783a18;
}

#top {
    background: #e5751e;
}
a:hover,
form button {
    color: #e5751e;
}

form  button:active,
#top form button,
#top a,
#top a:visited {
    color: #fff;
}

.trackNumber {
    color: #ccc;
}


/* --- END COLORS --- */




body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

a, a:visited {
    text-decoration: none;
    font-weight: normal;
}

#top {
    padding: 6px 20px;
    line-height: 2em;
}
#top a,
#top a:visited {
    margin: 0 20px 0 0;
}
#top .right a,
#top form.button {
    margin: 0 0 0 20px;
}


table {
    width: 100%;
    border: 0px;
    spacing: 0px;
    border-collapse: collapse;
}

td {
    border: 0px;
    padding: 8px 0.5em;
}

td.index {
    vertical-align: center;
    font-size: 120%;
}


td.buttons {
    vertical-align: center;
    text-align: right;
}



#main {
    margin : 16px;
}

.right {
    float: right;
}

form.button {
    display: inline;
}
form button {
    background: none;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
}

.currentSong {
    text-align: center;
    margin-bottom: 2em;
}
.currentSong img {
    max-width: 200px;
    height: 200px;
    margin-bottom: 1em;
}

.trackNumber {
    margin-right: 2em;
    min-width: 4em;
}

.thumbAlbum {
    float: left;
    width: 200px;
    height: 220px;
    text-align: center;
}
.thumbAlbum img {
    max-width: 100px;
}

h1, h2, h3 {
    clear: both;
}

.albumCover {
    margin: 1em 0em;
    text-align: center;
}
.albumCover img {
    max-width: 90%;
}

.initials {
    text-align: center;
    margin: 1em 0em;
    line-height: 2em;
}
.initials a {
    padding: 4px 0.5em;
}
