<@layout.plain "Browse">

<div class="right"><a href="/artist/list">Plain</a></div>

<div class="initials">
    <#list grouped as initial, group>
        <a href="#initial_${initial}">${initial}</a>
    </#list>
</div>

<#list grouped as initial, group>
<a id="initial_${initial}"></a>
<#list group as artist>
    <div class="right"><a href="#TOP" title="Top of the page">^</a></div>
    <h1><a href="/artist/view/${artist.id.value}?pretty">${artist.name}</a></h1>
    <#list artist.lazyAlbums as album>
        <div class="thumbAlbum">
            <div class="cover"><a href="/album/view/${album.id.value}?pretty"><img src="/album/cover/${album.id.value}" alt="Album Cover"/></a></div>
            <div class="album">${album.name}</div>
            <@layout.playAlbum album/>
        </div>
    </#list>
</#list>
</#list>

</@layout.plain>
